.navbarheader {
    float: left;
    color: white;
    background-color: #4aaaa5;
    padding: 20px;
    border-radius: 4px; /* Rounded borders */
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*fixed navigation bar*/
    position: fixed;
    top: 0;
    width: 100%;
}

.navlist {
    float: right;
}

.navitems {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /*TODO: MAKE BORDERS WORK*/
    border-right: 1px solid #bbb;
}

.navitems:last-child {
    border-right: none;
  }

.navitems:hover:not(.active) {
    background-color: #111;
  }

.navitems:active {
    /*TODO: MAKE ACTIVE WORK FOR PAGE CURRENTLY ON*/
    background-color: #4aaaa5;
}

.navitems:hover {
    background-color: #111;
}

body {
    background-image: url("../images/prism/prism.png");
    background-size: contain;
    width: 960px;
  }

  .IndexPhoto {
      height: 200px;
      width: 150px;
      border-radius: 50%
  }

  .containergallery {
    position: relative;
    width:100px;
    height:100px;
    background-color: #ffffff;
    border-radius: 4px; /* Rounded borders */
    padding: 20px;
    float: left;
  }

  .containerimg {
    width:100px;
    height:100px;
  }


  .centered {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    background-color: #4aaaa5;
    color: #ffffff;
    border-radius: 4px; /* Rounded borders */
    /*TODO FILL BACKGROUND TO IMAGE WIDTH*/
  }






.HeaderForTable {
    color: #4aaaa5;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical /* Allow the user to vertically resize the input box */
  }
  

  input[type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When hovering over the submit button, add teal color */
  input[type=submit]:hover {
    background-color: #4aaaa5;
  }
  
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
  }

  .footer {
    border-top: 8px solid #4aaaa5;
  }